body {
    font-size: 16px;
    color: #000;
    /* background-color: #61122f; */
    font-family: 'Roboto', sans-serif;
    width: 100%;
    box-sizing: border-box;
}

nav.navbar-static-top {
    background: #0275d8;
}
.navbar-default a.navbar-brand {
    color: white;
}
.navbar-default a.navbar-brand:hover {
    color: #002749;
}
.navbar-default button.navbar-toggle:focus {
    background-color: #002749;
}
.navbar-default .navbar-toggle span.icon-bar {
    background: white;
}
.navbar-default button.navbar-toggle:hover {
    background: #002749;
    border: 1px solid #002749
}
#collapseMenu {
    background: rgb(142, 253, 238);
}
#collapseMenu > ul {
    margin-top: 0;
    margin-bottom: 0;
}
#collapseMenu > ul > li {
    border-bottom: 1px solid white;
    /* background: rgb(219, 219, 219); */
}
.navbar-default .navbar-nav > li > a {
    color: black;
}
.navbar-default .navbar-nav > li > a:hover {
    color: white;
}
section#menuCategory {
    /* margin: 10px; */
    /* padding: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(199, 199, 199);
}
.h2, section#menuCategory > h2 {
    margin-top: 0px;
    font-size: 1.2em;
    font-family: 'Patrick Hand', cursive;
}
h1 {
    margin-bottom: 50px;
    margin-top: -10px;
    font-size: 1.8em;
    font-family: 'Patrick Hand', cursive;
}
.menu-tile {
    background: #E6F4FF;
    padding: 0 10px 10px;
    /* box-sizing: border-box; */
}
.menu-tile p {
    /* background: #8b8b8b; */
    /* padding: 10px; */
}
.menu-tile h2 {
    /* background: #8b8b8b; */
    margin-bottom: 10px;
    padding-top: 15px;
    font-size: 1.3em;
    font-family: 'Patrick Hand', cursive;
}
.menu-tile > a > span {
    color: 002749;
    font-size: 0.8em;
}
/* media query */

/* table sm and above */
@media (min-width: 768px) {
    #collapseMenu {
    background-color: #0275d8;
    }
    
    .container-fluid {
        margin-left: 20px;
        margin-right: 20px;
    }
    .navbar-default > .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 20px;
        margin-left: 20px;
        width: 100%;
    }
}


/* mobile xs only  */
@media (max-width: 767px) {
    .container-fluid {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}